<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Log In</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="{{url_for('static',filename='images/Login_Image.jpg')}}">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
           
        </div>
        <div class="forms">
            <div class="form-content">               
                
                <div class="signup-form">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <div style="color: red;"><h5>{{msg}}</h5></div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="title">Signup</div>
                    <form action="{{url_for('signup')}}" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter your name" required name="name">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-phone"></i>
                                <input type="text" placeholder="Enter your phone number" required name="phone_number">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="Enter your email" required name="email">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter a username" required name="username">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Enter your password" required name="password">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Confirm your password" required name="confirm_password">
                            </div>

                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Already have an account? <a href="/">Login now</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>