<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Log In</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="{{url_for('static',filename='images/Login_Image.jpg')}}">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>

        </div>
        <div class="forms">
            <div class="form-content">

                <div class="signup-form">

                    <div class="title">Signup</div>
                    <form action="{{url_for('signup')}}" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter your name" required name="name">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-phone"></i>
                                <input type="number" placeholder="Enter your phone number" required name="phone_number">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="Enter your email" required name="email">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter a username" required name="username">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Enter your password" required name="password"
                                    id="password">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Confirm your password" required
                                    name="confirm_password" id="confirm_password">
                            </div>

                            <div class="button input-box">
                                <input type="submit" id="button_1" value="Submit">
                            </div>
                            <span id="password_match_message"></span>

                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for msg in messages %}
                            <div style="color: red;">
                                <span>{{msg}}</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <div class="text sign-up-text">Already have an account? <a href="/">Login now</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- <script>
    function Validate() {
        var password = document.getElementById("password").value; // Corrected to "password"
        var confirmPassword = document.getElementById("confirm_password").value;
        if (password !== confirmPassword) {
            alert("Password and Confirm Password mismatch.");
            document.getElementById("password").value = ''; // Clear the password field
            document.getElementById("confirm_password").value = ''; // Clear the confirm_password field
            return false;
        }
        return true;
    }
</script> -->

<script>
    function checkPasswordMatch() {
        console.log("printed")
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        var button = document.getElementById("button_1")
        var message = document.getElementById("password_match_message");

        if (password === confirmPassword) {
            message.textContent = "Passwords match.";
            message.style.color = "green";
            button.disabled = false;

            return true;

        } else {
            message.textContent = "Passwords do not match.";
            message.style.color = "red";
            button.disabled = true;
            return false;

        }
    }

    // Add an event listener to the confirm_password field
    document.getElementById("confirm_password").addEventListener("input", checkPasswordMatch);


</script>